body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

h1 {
    text-align: center;
}

section {
    margin-left: 20px;
}

h2 {
    font-size: 28px;
}

header > p {
    font-style: italic;
}

article > p {
    font-size: 24px;
}