html {
  font-family: 'Open Sans', sans-serif;
}

header {
    background-size: cover;
    background: #242424;
    margin: 0rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 0;
}

nav ul li {
    display: flex;
    padding: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #e4e4e4;
    font-weight: bold;
}

.logoWrapper {
    padding-left: 1rem;
}

.logo {
    display: flex;
    width: 180px;
    height: 60px;
}

.logout {
    background: none;
    border: none;
    color: #e4e4e4;
    text-decoration:none;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

body {
    margin: 0;
    background: #e4e4e4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex-grow: 1;
}

h1 {
    text-align: center;
    color: #242424;
}

h2 {
    color: #242424;
    margin: 0px;
}

h3 {
    color: #242424;
    margin: 0px;
}

h4 {
    color: #242424;
    margin: 0px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

footer {
    background: #242424;
    margin: 0rem;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts div {
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
}

.contacts div a {
    display: flex;
    align-items: center;
}

.contacts p {
    margin: 0px;
    color: #e4e4e4;
    margin-left: 5px;
}

.social {
    padding-left: 7rem;
}

.social ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.social ul li {
    display: flex;
    align-items: center;
    margin-inline: 5px;
    width: 32px;
    height: 32px;
}

.social ul li a {
    width: 32px;
    height: 32px;
    line-height 32px;
    display: flex;
    align-items: center;
}

.formWidth {
    display: flex;
    justify-content: center;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: auto;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.8) 0px 0px 10px -5px;
    border-collapse: collapse;
}

.allProducts {
    margin: 2rem;
}

.productCard {
    display: inline-block;
    width: 15rem;
    margin: 0.5rem;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.8) 0px 0px 10px -5px;
    border-collapse: collapse;
}

.productCard img {
    width: 15rem;
    height: 15rem;
}

.productInfo {
    background: #dddddd;
    padding: 0.5rem;
}

.allEvents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.eventCard {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-bottom: 1rem;
}

.eventCard img {
    width: 25rem;
}

.eventInfo {
    background: #dddddd;
    padding: 0.5rem;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.peopleCount {
    display: flex;
    align-items: center;
}

.peopleCount i {
    padding-left: 0.5rem;
}

.formRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.submit {
    text-align: center;
}

.submitBtn {
    background: #e4e4e4;
    color: #242424;
}

label {
    color: #242424;
}

.formInput {
    margin-inline: 0.5rem;
    padding-inline: 0.5rem;
    background: #e4e4e4;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.8) 0px 3px 10px -5px;
    border-collapse: collapse;
}

select {
    width: 159px;
    height: 21.5px;
}

#date, #time {
    width: 139px;
    height: 21.5px;
}

.action {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
}

.action a, .action form {
    width: 40%;
}

.actionBtn {
    margin: 0px;
    width: 100%;
    background: #e4e4e4;
    color: #242424;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.8) 0px 3px 10px -5px;
    border-collapse: collapse;
    cursor:pointer;
}

.actionBtn:hover, .submitBtn:hover{
    background: #242424;
    color: #e4e4e4;
}

.btnWrapper {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.btnWrapper a {
    width: 6rem;
}

.notification {
    display: flex;
    justify-content: center;
}

summary {
    cursor:pointer;
}

.roleSelect {
    text-align: center;
    width: auto;
}


