<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/fd324e62f7.js" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <div class="social">
        <ul>
            <li>
                <a th:href="@{https://www.facebook.com/profile.php?id=100092577691790}" th:target="_blank">
                    <i class="fa-brands fa-facebook fa-xl" style="color: #e4e4e4;"></i>
                </a>
            </li>
            <li>
                <a th:href="@{https://www.instagram.com/barrel_wine_corner/}" th:target="_blank">
                    <i class="fa-brands fa-instagram fa-xl" style="color: #e4e4e4;"></i>
                </a>
            </li>
            <li>
                <a th:href="@{https://www.tiktok.com/@barrelwine.corner}" th:target="_blank">
                    <i class="fa-brands fa-tiktok fa-xl" style="color: #e4e4e4;"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>