<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/fd324e62f7.js" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <div class="contacts">
        <div class="address">
            <a th:href="@{https://www.google.com/maps/place/KapanaPlovdiv+Center,+ul.+%22Abadzhiyska%22+4,+4000+Plovdiv/@42.1484733,24.7467303,17z/data=!3m1!4b1!4m6!3m5!1s0x14acd1bcd0f06ff1:0xaf01c7285dbd1ea7!8m2!3d42.1484694!4d24.7493052!16s%2Fg%2F11c5mly7gy?entry=ttu}"
               th:target="_blank">
                <i class="fa-solid fa-location-dot fa-sm" style="color: #e4e4e4;"></i>
                <p>4 Abadzhiyska St., Plovdiv, Bulgaria</p>
            </a>
        </div>
        <div class="phoneNumber">
            <i class="fa-solid fa-phone fa-sm" style="color: #e4e4e4;"></i>
            <p> +359884344567</p></div>
    </div>
    <div class="logo">
        <a class="logo" th:href="@{/}">
            <img class="logo" src="/images/logo.jpg" alt="logo">
        </a>
    </div>
    <div class="social">
        <ul>
            <li>
                <a th:href="@{https://www.facebook.com/profile.php?id=100092577691790}" th:target="_blank">
                    <i class="fa-brands fa-facebook fa-xl" style="color: #e4e4e4;"></i>
                </a>
            </li>
            <li>
                <a th:href="@{https://www.instagram.com/barrel_wine_corner/}" th:target="_blank">
                    <i class="fa-brands fa-instagram fa-xl" style="color: #e4e4e4;"></i>
                </a>
            </li>
            <li>
                <a th:href="@{https://www.tiktok.com/@barrelwine.corner}" th:target="_blank">
                    <i class="fa-brands fa-tiktok fa-xl" style="color: #e4e4e4;"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>