<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BarrelWineCorner</title>
</head>
<body>
    <header th:fragment="navigation">
        <nav>
            <div class="logo">
                <a class="logo" th:href="@{/}">
                    <img class="logo" src="images/logo.jpg" alt="logo">
                </a>
            </div>
            <ul>
                <li>
                    <a th:href="@{/}">Home</a>
                </li>
                <li>
                    <a th:href="@{/products}">Products</a>
                </li>
                <li>
                    <a th:href="@{/events}">Events</a>
                </li>
                <li>
                    <a th:href="@{/reservation}">Reservation</a>
                </li>
                <li>
                    <a th:href="@{/partners}">Partners</a>
                </li>
                <li>
                    <a th:href="@{/about}">About Us</a>
                </li>
                <li>
                    <a th:href="@{/contacts}">Contacts</a>
                </li>
                <li>
                    <a th:href="@{/login}">Login</a>
                </li>
                <li>
                    <a th:href="@{/register}">Register</a>
                </li>
                <li>
                    <form th:action="@{/logout}" th:method="POST">
                        <input class="logout" type="submit" value="Logout" />
                    </form>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>