<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header th:fragment="navigation">
        <nav>
            <section class="logo">
                <img src="" alt="logo">
            </section>
            <ul>
                <li>
                    <a th:href="@{/}">Home</a>
                </li>
                <li>
                    <a th:href="@{/products}">Products</a>
                </li>
                <li>
                    <a th:href="@{/events}">Events</a>
                </li>
                <li>
                    <a th:href="@{/partners}">Partners</a>
                </li>
                <li>
                    <a th:href="@{/about}">About Us</a>
                </li>
                <li>
                    <a th:href="@{/register}">Register</a>
                </li>
                <li>
                    <a th:href="@{/login}">Login</a>
                </li>
                <li>
                    <form th:action="@{/logout}" th:method="POST">
                        <input class="" type="submit" value="Logout" />
                    </form>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>