<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css"/>
    <title>BarrelWineCorner</title>
</head>
<body>
    <div class="wrapper">
        <!-- Navigation -->
        <div th:replace="~{fragments/navigation}"></div>
        <h1>Login</h1>
        <div>
            <form th:action="@{/login}"
                    th:method="POST">
                <div>
                    <label for="inputEmail">Email</label>
                    <input type="text" id="inputEmail" name="email" placeholder="email">
                </div>
                <div>
                    <label for="inputPassword">Password</label>
                    <input type="text" id="inputPassword" name="password" placeholder="password">
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="~{fragments/footer}"></div>
</body>
</html>